<div class="flex w-full">
  <nav
    class="lg:flex flex-col items-center w-[300px] h-[100vh] shadow-xl md:hidden"
  >
    <img src="assets/dummyLogo.png" alt="Logo" width="200" class="p-4" />
    <div class="flex flex-col w-full p-5 gap-3">
      @for (sidebarItem of sidebarItems; track sidebarItem.label) {
      <a
        routerLink="{{ sidebarItem.link }}"
        routerLinkActive="bg-gray-500"
        [routerLinkActiveOptions]="{ exact: true }"
        class="w-full p-3 rounded-xl bg-gray-500 bg-opacity-10 hover:bg-gray-500 hover:bg-opacity-10"
        >{{ sidebarItem.label }}</a
      >
      }
    </div>
  </nav>
  <div class="flex flex-col w-full">
    <div class="shadow-xl flex justify-end items-center w-full h-16 px-5">
      <lucide-icon
        name="circle-user-round"
        color=""
        class="cursor-pointer"
      ></lucide-icon>
    </div>
    <main class="p-7">
      <router-outlet />
    </main>
  </div>
</div>
